# Server settings
SERVER_PORT=7777

# Set to "false" to skip update check on container start
UPDATE_ON_START=true

# First run: set to "true" to create a new world
# After first run: set to "false" and the server will load the saved game
START_NEW_GAME=true
